* {
  font-family: Helvetica;
}

body {
  min-height: 100vh;
  background-image: url("./Assets/onj.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: black;
}

.header1 {
  padding: 70px 0px;
}

.logo {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.initialText {
  margin-top: 75px;
	font-size: 20px;
	color: white;
	letter-spacing: 1.5px;
}

.startButton {
  margin-top: 175px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.timerText {
  font-size: 20px;
  color: white;
}

.questionText {
  font-size: 30px;
  color: white;
}

.correctText, .wrongText, .timeOutText, .finishedText {
	font-size: 50px;
	color: white;
}

.summaryCorrect, .summaryWrong, .summaryUnanswered {
  font-size: 20px;
  color: white;
}

#timer {
	color: #7db539;
	font-size: 40px;
	font-weight: bold;
}

.answer:hover {
  background: lightblue;
}

.answer {
  height: 45px;
  width: 250px;
  color: black;
  background-color: white;
  border-radius: 4px;
  margin-left: auto;
  margin-right:auto;
}

.imgWrong, .imgCorrect {
  margin-top: 40px;
  width: 250px;
}

.questionText {
  margin-bottom: 50px;
}

.resetButton {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.summaryCorrect {
  margin-top: 40px;
}

.summaryCorrect, .summaryWrong, .summaryUnanswered {
  margin-left: auto;
  margin-right: auto;
}

